@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

:root {
    --principal: #DDC0C0;
    --segunda: #EC6060;
    --terceira: #000000;
}

body {
    background-color: var(--principal);
}

* {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'gotu', serif;
    font-weight: 400;
    
}

header {
    display: flex;
    justify-content: flex-start;
}

header picture {
    margin: left 0.5rem;
    padding: 0.5rem;
    width: 10%;
}

h1 {
    position: absolute;
    font-weight: bold;
    width: 360px;
    height: 45px;
    left: 120px;
    top: 108px;
}

#menina {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 120px;
    top: 210px;background-color: var(--principal);
}

#pilar {
    box-sizing: border-box;
    position: fixed;
    width: 140px;
    height: 1100px;
    left: -44px;
    top: -10px;

    background: #ED6464;
}

#linha {
    position: absolute;
    width: 100%;
    height: 0px;
    left: 95px;
    top: 81px;

    border: 4px solid #000000;
    transform: rotate(-0.1deg);
}

#linha2 {
    position: absolute;
    width: 508px;
    height: 0px;
    left: 182px;
    top: 56px;

    border: 1px solid #000000;
    transform: rotate(0.23deg);
}

#lupa {
    position: absolute;
    width: 65px;
    height: 51px;
    left: 101px;
    top: 18px;

    background: url(image.png);
}

#linha7 {
    position: absolute;
    width: 90px;
    height: 0px;
    left: 1790px;
    top: 30px;

    border: 7px solid #000000;
    transform: rotate(-89.45deg);

}

#config {
    position: absolute;
    width: 60px;background-color: var(--principal);
    height: 60px;
    left: 1850px;
    top: 10px;

    background: url(image.png);
}

header nav ul {
    align-items: center;
}

h2 {
    position: absolute;
    font-weight: bold;
    width: 360px;
    height: 45px;
    left: 120px;
    top: 630px;
}

.texto1 {
    position: absolute;
    font-weight: bold;
    width: 360px;
    height: 45px;
    left: 1400px;
    top: 200px;
    font-size: 20px;
}

.texto2 {
    position: absolute;
    font-weight: bold;
    width: 360px;
    height: 45px;
    left: 1400px;
    top: 400px;
    font-size: 20px;
}

header nav ul li {
    margin: 3rem;
}

header nav ul li a {
    list-style-type: none;

}

#Relatos {
    position: fixed;
    width: 241px;
    height: 34px;
    left: 1750px;
    top: 20px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;

}

.texto3 {
    position: fixed;
    width: 241px;
    height: 34px;
    left: 1570px;
    top: 20px;
    font-size: 20px;
    color: black; 
    text-decoration: none;
    position: absolute;
    font-weight: bold;
    width: 360px;
    height: 50px;
    left: 1740px;position: fixed;
    width: 241px;
    height: 34px;
    left: 1570px;
    top: 20px;
    font-size: 20px;
    color: black; 
    text-decoration: none;
    top: 750px;
    font-size: 25px;

}

footer {
    background-color: #ED6464;
    height: 4rem;
    width: 100%;
    bottom: 0;
    position: fixed;
    margin: var(--terceira);
    border-top: 0.5rem solid var(--terceira);
    ;
}

#botão {
    position: fixed;
    width: 241px;
    height: 34px;
    left: 1570px;
    top: 20px;
    font-size: 20px;
    color: black; 
    text-decoration: none;
    
}

#botão a:link,a:visited,a:active{
text-decoration: none;
color: (var(--segunda));
}

#botão a:hover{
    color:#EC6060;
}
#botão2 {
    position: fixed;
    width: 241px;
    height: 34px;
    left: 1750px;
    top: 20px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

#carinha {
    position: absolute;
    top: 10px;
    left: 10px;
}

#oua {
    position: absolute;
    font-weight: bold;
    width: 290px;
    height: 150px;
    left: 1400px;
    top: 400px;
    font-size: 20px;


}
#oia {
    position: absolute;
    font-weight: bold;
    width: 290px;
    height: 145px;
    left: 1400px;
    top: 200px;
    font-size: 20px;
}
#coração {
    position: absolute;
    font-weight: bold;
    width: 60px;

    left: 1400px;
    top: 200px;
    font-size: 20px;
    left: 1700px;
    top: 160px;
    font-size: 20px;
}
#coraçã2o {
    position: absolute;
    font-weight: bold;
    width: 35px;
    height: 35px;
    left: 1750px;
    top: 200px;
    font-size: 20px;

}
#coração00 {
    position: absolute;
    font-weight: bold;
    width: 35px;
    height: 35px;
    left: 1360px;
    top: 420px;
    font-size: 20px;

}
#coração11{
    position: absolute;
    font-weight: bold;
    width: 60px;
    height: 60px;
    left: 1310px;
    top: 370px;
    font-size: 20px;


}
#oa{
    position: absolute;
    font-weight: bold;
    width: 290px;
    height: 145px;
    left: 120px;
    top: 270px;
    font-size: 20px;
    
}
.texto3{
    position: absolute;
    font-weight: bold;
    width: 290px;
    height: 145px;
    left: 120px;
    top: 270px;
    font-size: 17px;
}
.ou{
   font-size: 50px; 
}
#oo{
    position: absolute;
    font-weight: bold;
    width: 290px;
    height: 145px;
    left: 120px;
    top: 480px;
    font-size: 20px;
    
}
.texto22{
    position: absolute;
    font-weight: bold;
    width: 290px;
    height: 145px;
    left: 120px;
    top: 480px;
    font-size: 20px;

}
.pimpim{
 position: absolute;
width: 255px;
height: 56px;
left: 874px;
top: 201px;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;
}

#ajuda{
    position: absolute;
    width: 180px;
    height: 160px;
    left: 860px;
    top: 350px;
}
.pp{
    position: absolute;
    width: 180px;
    height: 160px;
    left: 860px;
    top: 300px;
    font-size: 35px;
}
#bacana{
    position: absolute;
    width: 180px;
    height: 160px;
    left: 1100px;
    top: 350px;

}
#ret{
    display: flex;
    width: 170px;
    height: 39px;
    margin-left: 1565px;
    margin-top: 20px;
}
